<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naughty.campus.dao.DiscussionDao">

    <select id="getAllDiscussions" resultType="com.naughty.campus.bean.Discussions">
        SELECT
        discussionId,studentId,studentName,publishTime,disContent
        FROM
        discussions
        WHERE 1=1

        <if test="info.studentName !=null">
            and studentName like #{info.studentName}
        </if>
        <if test="info.disContent !=null ">
            and disContent like #{info.disContent}
        </if>
        LIMIT #{info.pageNum},#{info.pageSize}
    </select>

    <select id="getDiscussionsCounts" resultType="java.lang.Integer">
        SELECT count(*) FROM `discussions`
        <if test="info.studentName !=null">
            and studentName like #{info.studentName}
        </if>
        <if test="info.disContent !=null ">
            and disContent like #{info.disContent}
        </if>
    </select>
</mapper>