<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naughty.campus.dao.DiscussionsDao">
    <!--    <select id="getDiscussionsByMassage" resultType="java.lang.Integer">
               SELECT count(id) FROM easyDiscussions
               WHERE discussionsname=#{discussionsname} AND password=#{password}
        </select>-->

    <select id="getAllDiscussions" resultType="com.naughty.campus.bean.Discussions">
        SELECT
        discussionId,studentId,studentName,publishTime,content
        FROM discussions
        where 1=1
        <if test="info.id !=null">
            and discussionsId like #{info.id}
        </if>
        <if test="info.department !=null ">
            and studentDepartment = #{info.department}
        </if>
        LIMIT #{info.pageNum},#{info.pageSize}
    </select>

    <select id="getDiscussionsCounts" resultType="java.lang.Integer">
        SELECT count(*) FROM `discussionss` where 1=1
        <if test="info.id !=null ">
            and discussionsId like #{info.id}
        </if>
        <if test="info.department !=null ">
            and studentDepartment = #{info.department}
        </if>

    </select>
    <select id="getDiscussionCounts" resultType="java.lang.Integer"></select>

    <!--    <select id="getUpdateDiscussions" resultType="com.naughty.campus.bean.Discussions">-->
    <!--        SELECT * FROM easydiscussions WHERE id = #{id}-->
    <!--    </select>-->

    <!-- <update id="updateState">
         UPDATE easydiscussions SET state = #{state} WHERE id = #{id}
     </update>

     <insert id="addDiscussions">
         INSERT INTO easydiscussions
         (discussionsname,password,email,role,state)
         VALUE
         (#{discussionsname},#{password},#{email},#{role},#{state})
     </insert>

     <update id="editDiscussions">
         UPDATE easydiscussions SET discussionsname = #{discussionsname} , password = #{password} ,
         email = #{email} WHERE id = #{id}
     </update>

     <delete id="deleteDiscussions">
         DELETE FROM easydiscussions WHERE id = #{id}
     </delete>-->

</mapper>