<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naughty.campus.dao.MatchesDao">

    <select id="getAllMatches" resultType="com.naughty.campus.bean.Matches">
        SELECT matchId,matchTitle,matchType,matchType,enrollStartTime,enrollEndTime,matchStartTime,matchEndTime,matchStatus,sponsor FROM matches
            where 1=1
        <if test="info.matchTitle !=null">
            and matchTitle like #{info.matchTitle}
        </if>
        <if test="info.matchStatus !=null ">
            and matchStatus = #{info.matchStatus}
        </if>
        order by enrollStartTime desc
            LIMIT #{info.pageNum},#{info.pageSize}
    </select>

    <select id="getMatchesCounts" resultType="java.lang.Integer">
       	SELECT count(*) FROM `matches` where 1=1
        <if test="info.matchTitle !=null ">
            and matchTitle like #{info.matchTitle}
        </if>
        <if test="info.matchStatus !=null ">
            and matchStatus = #{info.matchStatus}
        </if>
    </select>

</mapper>